[program:__NAME__]
process_name=%(program_name)s_%(process_num)02d
command=__COMMAND__
directory=__DIRECTORY__
autostart=true
autorestart=true
startsecs=5
startretries=10
stopasgroup=true
killasgroup=true
user=__USER__
numprocs=__NUMPROCS__
redirect_stderr=true
stdout_logfile=__LOGFILE__
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=5
stopwaitsecs=__STOPWAIT__
