.hd-prompt-btn[data-v-ff30e8b1]{text-align:left;white-space:normal;text-transform:none;letter-spacing:0;justify-content:flex-start;height:auto;min-height:2.25rem;margin-bottom:.35rem;font-weight:500}
