APP_ENV=local
BASE_URL=http://localhost/staff/
CI_BASE_URL=http://localhost/staff/
APM_BASE_URL=http://localhost/staff/apm
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=staff
JWT_SECRET=
STAFF_API_USERNAME=
STAFF_API_PASSWORD=
STAFF_API_TOKEN=
